<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Abous Us</h1>
    <p>This is the about page of our Express app!</p>
    <img src="/images/banner-jurusan.jpg"/>
    <form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname">
  <button>simpan dulu pinkan</button>
</form>
</body>
</html>